@layout('layout/base')

@set('title', '🪓 Hatcher - Test')

@section('main')
<div class="container my-5">
    <h1 class="display-1 align-middle">Hatcher</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, autem impedit tempore nostrum quod asperiores
        maxime libero odit incidunt. Dignissimos ut minus possimus repellendus dolore minima iusto accusamus? Quaerat,
        fugit!</p>

    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
    </div>
</div>
@end