<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    @section('head')

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/assets/style.css" rel="stylesheet">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🪓</text></svg>">

    <style>
        html,
        body {
            min-height: 100vh;
        }

        .text-small {
            font-size: .9em;
        }
    </style>

    <title>{{ title }}</title>

    @end
</head>

<body>
    <header class="navbar navbar-expand-lg sticky-top bg-body-tertiary py-3">
        @section('header')
        <div class="container">

            <div class="w-100 d-flex flex-row align-items-center justify-content-between">
                <div class="">
                    <a class="navbar-brand font-bold" href="/">🪓 H</a>
                </div>
                <div>
                    @!component('components/auth')
                </div>
            </div>

        </div>
        @end
    </header>

    <main>
        @section('main')
        <div class="container">
            <p>Hello world !</p>
        </div>
        @end
    </main>

    @!component('components/footer')
</body>

@section('scripts')

<script src="/assets/scripts/common.js" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.hatcher.renderer.boot();
    });
</script>

@end

</html>