@layout('layout/html')

@set('title', '🪓 Hatcher')

@section('body')

<div id="hatcher-sound" class="container">
    <h1 class="display-1">🪓 Sound (Listener)</h1>

    <code>// to be implemented</code>
</div>

@end